@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;800&family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --primary: #0a0808c5;
    --secondary: #8902f8;
    --tertiary: rgb(189, 161, 4);
    --white: rgb(255, 255, 255);
    font-size: 42.5%;
}

body {
    background: #c7c7c7;
    color: var(--secondary);
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif
}

/* Header styling starts here */

header {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: 30px;
}

/* Added hover function to Scores */

#view-high-scores:hover {
    cursor: pointer;
    color: var(--tertiary);
    text-shadow: rgba(0, 8, 8, 0.87);
}

header h4 {
    font-size: 13px;
    display: inline;
}

.timer {
    font-size: 13px;
    color: var(--primary);
    display: inline;
    text-align: right;
}

/* Header styling ends here */

/* Body content styling starts here */

.container {
    padding: 20px;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

h1 {
    color: var(--primary);
    font-size: 28px;
    font-weight: bold;
}

p {
    color: var(--primary);
    font-size: 18px;
    padding: 10px;
    line-height: 45px;
}
.bold{
    color: var(--primary);
    font-size: 18px;
    padding: 10px;
    line-height: 45px;
    font-weight: bolder;
}
.start {
    align-items: center;
    text-align: center;
}

.start h1, .start p {
    text-align: center;
}

/* Content styling ender here */

/* Question styling starts here */

.questions {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    margin: auto;
}

.end h1, .end p {
    text-align: left
}

.end input {
    outline: thick;
    border-width: 1px;
    padding: 5px;
    width: 15%;
    font-size: 2.2rem;
    border-radius: 5px;
}

.end input:focus {
    border: 2px solid var(--secondary);
}

/* Question styling ends here */

/* Attributes that make banners visible/hidden */

.visible {
    display: flex;
}

.hidden {
    display: none;
}

#question {
    color: var(--primary);
    text-align: left;
    font-size: 3.0rem;
    font-weight: bold;
}

#high-score {
    text-align: left;
}

/* banner attributes end here */

/*Button styling starts here */

.btn {
    background: var(--secondary);
    color: var(--white);
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

.btn:hover {
    background: var(--tertiary);
    border-radius: 10px;
    box-shadow: 0 2px grey;
    cursor: pointer;
}

.btn:active {
    border: none;
    outline: none;
    box-shadow: 0 0 grey;
}

.btn:focus {
    outline: none;
}

.btn-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
    margin: 20px 0;
    padding: 10px;
    border-width: 8in;
}

.start-end {
    width: 15%;
    margin-top: 10px;
}

.answerbtn {
    width: 45%;
    text-align: left;
    font-size: 15px;
    line-height: 20px;
}

/* Button styling ends here */

/* correct/wrong styling starts here (might combine the two into one variable) */

.banner {
    font-size: 25px;
    text-align: center;
    color: rgba(92, 91, 91, 0.8);
    font-style: italic;
    margin: 0 100px;
}

/* List for High Scores styling starts here*/

ol {
    list-style-type: number;
}

li:nth-child(odd) {
    color: var(--tertiary);
}

li {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif
}

/* media query styling for smaller screens */

@media screen and (max-width: 1024px) {
    .btn {
        width: 100%;
        font-size: 3.0vw;
    }
    #question {
        font-size: 4.5vw;
    }
    h1 {
        font-size: 4.5vw;
    }
    p {
        font-size: 3.0vw;
    }
}